<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="x-apple-disable-message-reformatting">
    <style>
      table, td, div, h1, p {font-family: Arial, sans-serif;}
    </style>
  </head>

  <body
    style="margin: 0 auto;padding: 12px 0; background-color: #F2F5F8;"
  >
  <table role="presentation" style="width:640px; border-collapse:collapse;border:0;border-spacing:0; margin: 0 auto; ">
    <tr id="logo">
      <td align="center" style="padding:0;">
        Secret Santa
      </td>
    </tr>
    <tr >
      <td align="center"
          style="
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 5px;
          letter-spacing: 0.08em;
          color: #4E4B66;
          "
      >
        SUPPORT
      </td>
    </tr>