<tr >
    <td
        align="center"
        style="
        padding: 26px 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4E4B66;
        "
    >
    <% const currentYear = new Date().getFullYear(); %>
      Copyright&nbsp;<span>&#169;</span>&nbsp;<%= currentYear %> Secret Santa. All Rights Reserved.
    </td>
  </tr>
  </table>
    </body>
  </html>
  