</main>

    <footer class="main-footer">
      <nav>
        <ul class="main-footer__links">
          <li class="main-footer__link">
            <a class="social-icon" href="https://twitter.com/thedumebi">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="main-footer__link">
            <a class="social-icon" href="https://instagram.com/the.dumebi">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="main-footer__link">
            <a class="social-icon" href="mailto:secret-santa@chiwuzoh.com.ng">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
          <li class="main-footer__link">
            <a class="social-icon" href="tel:+2348028611554">
              <i  class="fas fa-phone"></i>
            </a>
          </li>
        </ul>
      </nav>
      <% const currentYear = new Date().getFullYear(); %>
      <p class="main-footer__copyright">
        Copyright&nbsp;<span>&#169;</span>&nbsp;<%= currentYear %>&nbsp;<a href="https://chiwuzoh.com.ng">DMB</a>
      </p>
    </footer>

    <script src="/js/index.js"></script>
  
  
  
  </body>
  
  </html>