<%- include("partials/header") -%>

<section class="container">
  <div>
    <h1 class="section-title">Login</h1>
  </div>

  <div class="user-page login">
    <% if (locals.error) { %>
    <div class="error"><%= error %></div>
    <% } %> <% if (messages.error) { %>
    <div class="error"><%= messages.error %></div>
    <% } %>

    <form action="/login" method="POST" class="user-form">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" />

      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" />

      <button type="submit" class="btn btn-dark">Login</button>
    </form>
  </div>
</section>

<%- include("partials/footer") -%>
