<%- include("partials/header") -%>

<section class="container">
  <div>
    <h1 class="section-title">Register</h1>
  </div>

  <div class="user-page register">
    <% if (messages.error) { %>
    <div class="error"><%= messages.error %></div>
    <% } %> <% if (locals.error) { %>
    <div class="error"><%= error %></div>
    <% } %>

    <form action="/register" method="POST" id="register" class="user-form">
      <label for="email">Email <span class="required">*</span></label>
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="jane@doe.com"
        required
      />

      <label for="password">Password <span class="required">*</span></label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Make it a good one!"
        required
      />

      <label for="gender">Gender <span class="required">*</span></label>
      <select name="gender" id="gender" required>
        <option value="">Select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <label for="first_name">First Name</label>
      <input
        type="text"
        class="form-control"
        name="first_name"
        placeholder="John"
      />

      <label for="last_name">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="last_name"
        placeholder="Doe"
      />

      <label for="phone_number">Phone Number</label>
      <input
        type="text"
        class="form-control"
        name="phone_number"
        placeholder="Enter your phone number"
      />

      <label for="item_choice">Gift Choice</label>
      <select name="item_choice" id="item_choice" onchange="loadChoice()">
        <option value="" selected disabled hidden>Select</option>
        <option value="item">Item</option>
        <option value="amount">Cash</option>
      </select>

      <!-- <label for="item">Preferred Gift Item</label>
      <input
        type="text"
        id="item"
        class="form-control"
        name="item"
        placeholder="Enter a gift item you want"
        onchange="addAddress()"
      /> -->

      <!-- <label for="address">Address</label>
      <input
        type="text"
        id="address"
        class="form-control"
        name="address"
        placeholder="234 Blvd"
        onchange="checkAddress()"
      /> -->

      <!-- <label for="amount">Cash</label>
      <input
        type="number"
        class="form-control"
        id="amount"
        name="amount"
        placeholder="Enter amount if you would like cash"
        onchange="addAccountDetails()"
      /> -->

      <button type="submit" class="btn btn-dark">Register</button>
    </form>
  </div>

  <script>
    let userExists
  </script>
</section>

<%- include("partials/footer") -%>
