@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Anton");

:root {
  --dark-green: #4f5c4f;
  --highlight-color: #ff1b68;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", Verdana, sans-serif;
  margin: 0;
  padding-top: 3.5rem;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas:
      "header"
      "main"
      "footer";
    padding-top: 0;
    height: 100%;
  }
}

main {
  /* grid-row: 2 / 3; */
  grid-row: main;
}

hr {
  border: dotted var(--dark-green) 6px;
  border-bottom: none;
  width: 5%;
  margin: 2% auto;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.2s linear;
}

/* NavBar */
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-green);
  padding: 0.5rem 1rem;
  z-index: 60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: var(--white, --dark-green, #0e4f1f);
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  /* width: 1.5rem; */
}

.main-header__brand img {
  /* width: 100%; */
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: rgb(157, 145, 145);
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: var(--highlight-color);
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

.main-nav__item--cta {
  animation: wiggle 400ms 1s 8 ease-out none;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: var(--highlight-color, #ff1b68);
  background: white;
  border: none;
}

/* Footer */
.main-footer {
  background: var(--dark-green);
  padding: 2rem;
  margin-top: 3rem;
  /* grid-row: 3 / 4; */
  grid-row: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Mobile Nav */
.mobile-nav {
  transform: translateX(-100%);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 50%;
  height: 100vh;
  transition: transform 300ms ease-out;
  background: linear-gradient(
      to top,
      rgba(111, 106, 106, 0.89) 70%,
      transparent
    ),
    url("images/freedom.jpg") left 20% bottom 10% / cover no-repeat border-box;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

/* Buttons */
.btn {
  background: var(--dark-green, #0e4f1f);
  color: white;
  padding: 0.8rem;
  font: inherit;
  border: 1.5px solid var(--dark-green);
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: white;
  color: var(--dark-green);
}

.btn:focus,
.btn:focus-visible {
  outline: none;
}

.btn[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.modal {
  display: none;
  position: fixed;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out,
    transform 500ms cubic-bezier(0.21, 0.65, 0.68, 0.19);
  z-index: 200;
  top: 30%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid var(--dark-green);
  background: var(--dark-green);
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

#home {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("/images/christmas.jpg") left 50% bottom 80% / cover no-repeat border-box
      fixed,
    #ff1b68;
  /* background-image: url("andrea.jpg");
  background-size: cover;
  background-position: left 10% bottom 80%; */
  /* background-repeat: no-repeat; */
  /* background-origin: border-box; */
  /* background-clip: border-box; */
  /* background-attachment: fixed; */
  /* background-image: linear-gradient(
    180deg,
    red 70%,
    blue 80%,
    rgba(0, 0, 0, 0.5)
  ); */
  /* background-image: radial-gradient(
    ellipse farthest-corner at 20% 50%,
    red,
    blue 70%,
    green
  ); */
  width: 100%;
  /* height: 528px; */
  height: 60vh;
  /* border: 5px dashed white; */
  position: relative;
}

#home h1 {
  color: white;
  position: absolute;
  bottom: 5%;
  left: 3%;
  /* margin: 0; */
  font-size: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(50, end), blink 1s step-end infinite;
}

.section-title {
  color: var(--dark-green);
  text-align: center;
}

.user-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.user-form {
  padding: 1rem;
  display: grid;
  grid-auto-rows: 2rem;
  grid-row-gap: 0.5rem;
  align-items: end;
}

.user-form label {
  font-weight: bold;
}

.user-form label,
.user-form input {
  display: block;
  width: 100%;
}

.user-form input {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.user-form input:focus {
  outline: 1px solid #ccc;
  background: #d8f3df;
  border-color: #2ddf5c;
}

.user-form input.invalid,
.user-form :invalid {
  background: #faacac;
  border-color: red !important;
}

.user-form button[type="submit"] {
  display: block;
  align-self: start;
}

.user__logout {
  padding-top: 5%;
}

.required {
  color: red;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #fff;
  font-weight: bold;
  max-width: 80%;
  padding: 2%;
  margin: auto;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: #fff;
  font-weight: bold;
  max-width: 80%;
  padding: 2%;
  margin: auto;
}

.users {
  display: flex;
  flex-direction: column;
  /* max-width: 80%; */
  width: 100%;
  margin: 5% auto 0 auto;
}

table {
  width: 100%;
}

th {
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  font-size: 0.8rem;
  padding: 2% 0;
}

td {
  border: 1px dotted var(--dark-green);
  color: var(--dark-green);
  font-size: 0.8rem;
  padding: 2% 0;
  text-align: center;
}

td a {
  text-decoration: none;
  color: var(--dark-green);
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.home-content p {
  text-align: justify;
  line-height: 2;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .main-nav__item {
    margin: 0 16px;
    padding: 1rem 0.2rem;
  }

  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }

  .main-footer__link {
    margin: 0 1rem;
  }

  .modal__title {
    font-size: 1.5rem;
  }

  .user-form {
    margin: auto;
    width: 40rem;
    grid-template-columns: 7rem auto;
    grid-gap: 1rem 0.5rem;
  }

  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 40rem) and (orientation: landscape) {
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--dark-green);
  }
}
